.logo {
  margin-top: 37px;
}

.logo a {
  font-family: Open Sans;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.logo p {
  margin-left: 18px;
}

.main-nav {
  font-family: 'Open Sans';
  margin-left: 10px;
}

.main-nav p {
  margin-left: 28px;
}


.main-nav a, li {
  margin-top: 30px;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #8E8CA0;
}

.main-nav a:hover .ntr {
  fill: #535c7d;
}

.main-nav a:hover .gtr {
  color: #29274A;
}

.btn {
  margin-top: 30px;
  margin-left: 20px;
  background: #5F82FF;
  border-color: #5F82FF;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  color: white;
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  border-style: none;
}

.feed-header {
  margin-top: 45px;
  align-items: center;
  display: flex;
}

.interesting a,
.all a {
  color: #726F89;
}

.interesting  {
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #726F89;
  text-decoration: none;
}

.all {
  margin-left: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #726F89;
  text-decoration: none;
}

.feed-post {
  display: flex;
  align-items: center;
  background: #FBFBFB;
  border: 2px solid #F1F2F4;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 11px 35px;
  margin-top: 35px;
}

.district h1 {
  color: #726F89;
}

.post-things {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.post-things-item {
  margin-left: 27px;
}

.post-things-item-big:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 50px;
  background-color: #F1F2F4;
  left: -18px;
  bottom: -4px;
}

.post-things-item-big {
  position: relative;
  margin-left: 37px;
}

.post-input {
  background: transparent;
  border: transparent;
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
}

.post-input::-webkit-input-placeholder {
  color: #726F89;
}

.header-info {
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.clock {
  margin-left: 45px;
  font-size: 18px;
  color: #726F89;
}

.thing {
  margin-left: auto;
}

.hamburger {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.hamburger svg:last-child {
  margin-left: 10px;
}




